@model IEnumerable<Alquiler_Vehiculos.Models.Entity.AlquilerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientesModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiculoModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Alquiler)
            </td>
            <td>
                @item.ClientesModel.Nombre @item.ClientesModel.Apellido
            </td>
            <td>
                @item.VehiculoModel.Marca @item.VehiculoModel.Modelo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDelete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
